name: Semantic Release on Merge
on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  release:
    name: Attempt Semantic Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Semantic Release
      id: semantic
      uses: cycjimmy/semantic-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.BENDER_TOKEN }}
      with:
        dry_run: true
    - name: Do something when a new release published
      if: steps.semantic.outputs.new_release_published == 'true'
      run: |
        echo "New Release ready to publish!"
        echo "Full: ${{ steps.semantic.outputs.new_release_version }}"
        echo "Major: ${{ steps.semantic.outputs.new_release_major_version }}"
        echo "Minor: ${{ steps.semantic.outputs.new_release_minor_version }}"
        echo "Revision: ${{ steps.semantic.outputs.new_release_patch_version }}"
      